<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Create New Post</title>
</head>

<body>

<header th:replace="layout :: site-header"/>
<main>
    <h2>Create New Post</h2>
    <form th:action="@{/posts/create}" method="post" th:object="${postForm}">
        <div> <label for="title">Title:</label> </div>
        <input id="title" type="text" name="title" th:value="*{title}"/>
        <span class="formError" th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}">Invalid title</span>

        <div><label for="content">Content:</label></div>
        <textarea id="content" name="content" th:value="*{content}"></textarea>
        <span class="formError" th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}">Invalid content</span>

        <div><input type="submit" value="Create"/>
            <a th:href="@{/}">[Cancel]</a>
        </div>

    </form>
</main>

<footer th:replace="layout :: site-footer" />
</body>
</html>