<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Delete Post</title>
</head>

<body>

<header th:replace="layout :: site-header"/>
<main>
    <h2>Delete post?</h2>
    <form th:action="@{/posts/delete}" method="post" th:object="${post}">

        <input type="text" name="id" hidden="hidden" th:value="*{id}"/>

        <div> <label for="title">Title:</label> </div>
        <input id="title" type="text" name="title" th:value="*{title}" disabled="disabled"/>
        <span class="formError" th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}">Invalid title</span>

        <div><label for="body">Content:</label></div>
        <textarea id="body" name="body" th:text="*{body}" disabled="disabled"></textarea>
        <span class="formError" th:if="${#fields.hasErrors('body')}"
              th:errors="*{body}">Invalid body</span>

        <div><label for="date">Date:</label></div>
        <input id="date" type="text" name="date" th:value="*{date}" disabled="disabled"/>
        <span class="formError" th:if="${#fields.hasErrors('date')}"
              th:errors="*{date}">Invalid date</span>

        <div><label for="authorID">Author ID:</label></div>
        <input id="authorID" type="text" name="authorID" th:value="*{author.id}" disabled="disabled"/>
        <span class="formError" th:if="${#fields.hasErrors('author.id')}"
              th:errors="*{author.id}">Invalid author ID</span>

        <div><input type="submit" value="Delete"/>
            <a th:href="@{/}">[Cancel]</a>
        </div>

    </form>
</main>

<footer th:replace="layout :: site-footer" />
</body>
</html>