<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Edit Post</title>
</head>

<body>

<header th:replace="layout :: site-header"/>
<main>
    <h2>Edit Post</h2>
    <form th:action="@{/posts/edit}" method="post" th:object="${post}">
        <div> <label for="title">Title:</label> </div>
        <input type="text" name="id" th:value="*{id}" hidden="hidden"/>
        <input id="title" type="text" name="title" th:value="*{title}"/>
        <span class="formError" th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}">Invalid title</span>

        <div><label for="body">Content:</label></div>
        <textarea id="body" name="body" th:text="*{body}"></textarea>
        <span class="formError" th:if="${#fields.hasErrors('body')}"
              th:errors="*{body}">Invalid body</span>

        <div><input type="submit" value="Edit"/>
            <a th:href="@{/}">[Cancel]</a>
        </div>

    </form>
</main>

<footer th:replace="layout :: site-footer" />
</body>
</html>