<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title th:text = "${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header"/>
<main id="posts">
    <article>
       <h2 class="title" th:text="${post.title}">Post Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${post.author}" th:remove="tag">
            <i>by</i>
            <span th:text="${post.author.fullName != null ?
                             post.author.fullName : post.author.username}">Svetlin Nakov</span>
            </span>
        </div>
        <p class="content" th:utext="${post.body}">Post content</p>
    </article>
</main>

<footer th:replace="layout :: site-footer" />
</body>
</html>