<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>
<header th:replace="layout :: site-header"/>

<h1>Login in the Blog</h1>

<form th:action="@{/users/login}" method="post" th:object="${loginForm}">
   <div> <label for="username">Username:</label> </div>
    <input id="username" type="text" name="username" th:value="*{username}"/>
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div><label for="password" th:value="*{username}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><input type="submit" value="Login"/>
        <a href="register.html" th:href="@{/users/register}">[Go to Register]</a>
    </div>

</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>