<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>
<header th:replace="layout :: site-header"/>

<h1>Register New User</h1>

<form method="post" th:object="${registerForm}">
    <div> <label for="username">Username:</label> </div>
    <input id="username" type="text" name="username" th:value="*{username}"/>
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div> <label for="fullName">Fullname:</label> </div>
    <input id="fullName" type="text" name="fullName" th:value="*{fullName}"/>
    <span class="formError" th:if="${#fields.hasErrors('fullName')}"
          th:errors="*{fullName}">Invalid fullname</span>

    <div><label for="password" th:value="*{password}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><input type="submit" value="Register"/>
        <a href="register.html" th:href="@{/users/login}">[Go to Login]</a>
    </div>

</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>