<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head th:replace="layout :: site-head">
    <title>Posts</title>
</head>

<body>
<header th:replace="layout :: site-header"/>

<main>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Author ID</th>
            <th sec:authorize="isAuthenticated()">Action</th>
        </tr>
        <tr th:each = "p: ${allPosts}">
           <td th:text = "${p.id}">1</td>
            <td id="post-title" th:text = "${p.title}">Jobs and Wages in January: Some Growth, Still Plenty of Slack</td>
            <td th:utext = "${p.body}">Facebook?s recent announcement that it?s readying a version of its social software for workplaces got me thinking about Enterprise 2.0, a topic I used to think a great deal about. Five years ago I published a book with that title, arguing that enterprise social software platforms would be valuable tools for businesses. The news from Facebook, along with rapid takeup of new tools like Slack, the continued success and growth of Salesforce?s Chatter and Yammer (now part of Microsoft), and evidence of a comeback at Jive, indicates that the business world might finally be coming around to Web-style communication and collaboration tools.	</td>
            <td th:text = "${p.date}">2015-02-10 08:00:00.0</td>
            <td th:text = "${p.author.id}">2</td>
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{/posts/edit/{id}/(id=${p.id})}">[Edit]</a>
                <a th:href="@{/posts/delete/{id}/(id=${p.id})}">[Delete]</a>
            </td>
        </tr>
    </table>
</main>

<footer th:replace="layout :: site-footer" />

</body>
</html>